[submodule "glog"]
	path = glog
	url = https://github.com/b3sigma/glog.git
[submodule "gflags"]
	path = gflags
	url = https://github.com/b3sigma/gflags
[submodule "protobuf"]
	path = protobuf
	url = https://github.com/b3sigma/protobuf.git
[submodule "leveldb"]
	path = leveldb
	url = https://github.com/b3sigma/leveldb
[submodule "lmdb"]
	path = lmdb
	url = https://github.com/b3sigma/lmdb
[submodule "snappy"]
	path = snappy
	url = https://github.com/b3sigma/snappy.git
